@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f8fdf8 0%, #fff5f0 100%);
}
button{
cursor: pointer;
}



