div {
  text-align: center;
}
.about {
  margin: 14rem auto 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 600px; /* Limit width */
  padding: 0 1rem; /* Some padding for smaller screens */
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #57712e;
  margin-bottom: .1rem;
}

p {
  font-size: 1.5rem;
  color: #57712e;
}
