.wrap-cart {
  margin-top: 10rem;
  padding-bottom: 8rem;
}

.cart-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.checkout-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  background: white;
  border-top: 2px solid #ccc;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

}


.total-price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
}

.total-price h2,
.total-price p {
  margin: 0;
}

.checkout-btn {
  padding: 8px 14px;
  background: #57712e;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.cart-item {
  display: flex;
  align-items: flex-start;
  border: 2px solid #57712e;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 1000px;
  background-color: white;
  border-radius: 8px;
  width: 1000px;
  height: 200px;
}

.cart-item img {
  width: 10rem;
  height: 11rem;
  object-fit: cover;
  border: 2px solid #eceaea;
  padding-right: 10px;
}

.cart-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  flex: 1;
}

.cart-right p {
  margin: 5px 0;
  font-size: 22px;
  color: #57712e;
}

input[type="number"] {
  width: 70px;
  padding: .4rem;
  margin: 8px 0;
  border: 1px solid #57712e;
  border-radius: 4px;
  text-align: center;
}

.cart-buttons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  margin: 10px;

}

.cart-buttons button {
  padding: .4rem .6rem;
  border: none;
  background: #57712e;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.delete-button {
  background-color: red;
  padding: 6px 12px;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.checkout-btn {
  align-self: flex-end;
  padding: 8px 14px;
  background: #57712e;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.empty-cart {
  margin-top: 20rem;
  font-size: 2.5rem;
  color: #606656;
}
.add-btn {
  margin-top: 1rem;
  width: 6rem;
}
