.menu-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
  justify-content: center;
  height: auto;
}

h2 {
  color: #57712e;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu-header {
  font-size: 70px;
  padding: 15px;
}

.meal-card {
  background-color: white;
  border: 2px solid #57712e;
  height: 46rem;
  width: 25rem;
  padding: 1rem;
  margin: 1rem;
}

.meal-discription {
  font-size: 1.2rem;
  padding: 1rem;
}

img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #57712e;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #57712e;
}

p {
  color: #57712e;
  font-size: 12px;
  margin: 8px 0;
}

input {
  width: 3rem;
  height:2.5rem;
  margin: 8px 2px;
  border: 1px solid #57712e;
  border-radius: 4px;
  text-align: center;
}

button {
  background-color: #57712e;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: .95rem;
  border-radius: 5px;
  margin:0 4px;
}

button:hover {
  background-color: #57712e;
}

.restaurant-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}

.restaurant-name-menu {
  color: #57712e;
  font-weight: bold;
  font-size: 4.5rem;
  margin-top: 5rem;
}
