.orders-page {
  max-width: 850px;

  margin: 100px auto;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
  color: #2e3d27;
}

.error {
  color: red;
}


.order-card,
.past-order-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  margin: 2rem;
  overflow: hidden;
}

/* Left column: restaurant name */
.restaurant-section {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  border-right: 1px solid #ccc;
}

/* Middle column: meals for past orders */
.meals-section {
  flex: 2;
  padding: 15px;
  border-right: 1px solid #ccc;
  font-size: 14px;
}

/* Right column: delivery details */
.delivery-section {
  flex: 1;
  padding: 15px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.icon-text i {
  width: 35px;
  height: 35px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: #2e3d27;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
