.user-details-container {
  max-width: 500px;

  margin: 10px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  color: #2e3d27;
  text-align: center;
}

.user-details-container p {
  font-size: 15px;
  color: #444;
  margin: 8px 0;
}

.user-details-container span {
  color: #1f2b14;
  font-weight: 600;
}

.user-details-container label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #2e3d27;
  margin-bottom: 6px;
}

.user-details-container input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #b8c9a1;
  border-radius: 8px;
  font-size: .8rem;
  outline: none;
  transition: border 0.2s;
}

.user-details-container input:focus {
  border-color: #4a7c59;
}

.password-form {
  margin-top: 15px;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 10px;
}

.user-details-container .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-details-container button {
  padding: 6px 14px;
  font-size: .8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4a7c59;
  color: white;
  transition: background-color 0.3s ease;
  width:10rem;
  
}

.user-details-container button:hover {
  background-color: #3b6347;
}

.user-details-container .delete-btn {
  background-color: #e74c3c;
  margin-top: 15px;
}

.user-details-container .delete-btn:hover {
  background-color: #c0392b;
}

.user-details-container .updatePass-btn {
  background-color: #4a7c59;
}

.user-details-container .updatePass-btn:hover {
  background-color: #3b6347;
}

.user-details-container .edit-btn,
.user-details-container .changePass-btn {
  display: inline-block;
  margin: 8px;
}
